.sidebarContainer {
  background-color: white;
  border-radius: 0.5rem;
  margin: 1rem;
  user-select: none;
  height: 80vh;
}

.scrollContainer {
  max-height: calc(80vh - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebarHeader {
  padding: 0.5rem 1.5rem;
  margin: 0;
}